# Core
streamlit
python-dotenv

# LangChain
langchain-core
langchain-community
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-groq

# Embeddings
sentence-transformers

# Vector Store
supabase==1.2.0
postgrest==0.10.8

# Retrieval
rank-bm25
flashrank

# Document Parsing
unstructured[pdf]
pymupdf
docx2txt
python-magic
